<!--Fernando Larios Diaz
    INFO 4430
    Dr. Houghton
    Web Application
-->

<!--Title of page.-->

@{
    ViewData["Title"] = "Home Page";
}

<!--Class for home page text.-->

<div class="text-center">
    <img id="208" alt="game" height="300" width="300" src="@Url.Content("~/Images/logo_transparent.png")" />
    <h1 class="display-4">Welcome to 208GameHub!</h1>

    <h2>At 208GameHub, we believe in having fun and bringing the community together (or communities in this case).
    The plan here is to be able to oragnize events for various card games and maybe even video games (TBD).
    All games are located on the Navigation bar on top of the screen.</h2>
</div>

<!--Further additions will be added here..-->
