/*Fernando Larios Diaz
    INFO 4430
    Dr. Houghton
    Web Application*/

html {
    font-size: 14px;
    text-align: center;
}
/*Logo CSS*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    text-align: center;
}

body {
    margin-bottom: 60px;
    text-align: center;
}
